$color1: #a53b2d;
$color2: #88ad9b;
$color3: #a6d0bc;
$colorGold: #e6b82b;
$colorOrange: #D96E25;

$colorGrey: #777;
$liteGrey: #cdcdcd;

$font1: 'Roboto', sans-serif;
$font2: 'Oswald', sans-serif;
$font4: 'Special Elite', cursive;


$brewery: #f79f24;
$shop: #a53b2d;
$winery: #56b4a6;
$lodging: #6bb487;
$food: #d96536;
$other: #2da56a;
$event: #5397C2;


